aioredis==1.2.0
aniso8601==7.0.0
asgiref==3.2.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.9.2
Automat==0.7.0
Babel==2.7.0
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
dj-database-url==0.5.0
Django==2.2.4
django-filter==2.2.0
django-graphql-jwt==0.2.2
django-phonenumber-field==3.0.1
django-phonenumbers==1.0.1
django-templated-mail==1.1.1
django-versatileimagefield==1.10
djangorestframework==3.10.3
djoser==2.0.3
graphene==2.1.8
graphene-django==2.5.0
graphene-django-optimizer==0.6.0
graphene-jwt-auth==0.0.2
graphql-core==2.2.1
graphql-relay==2.0.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
msgpack==0.6.1
phonenumbers==8.10.17
Pillow==8.2.0
promise==2.2.1
psycopg2==2.8.3
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pytz==2019.2
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
zope.interface==4.6.0
